.app-ui-main-header {

  &__logo {
    display: block;
    margin-right: 30px;
    color: inherit;
    text-decoration: none;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
