.app-things-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  &__name {
    margin-bottom: 0;
  }

  &__date {
    margin-left: auto;
    margin-right: 30px;
    font-size: 13px;
    opacity: .6;
    transition: opacity .25s ease;
  }

  &__delete {
    button {
      opacity: .3;
      transition: opacity .25s ease, transform .25s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    .app-things-list-item {
      &__delete {
        button {
          opacity: .6;
        }
      }

      &__date {
        opacity: 1;
      }
    }
  }
}
