<app-user-auth-form-wrapper
  [name]="'Login'">
  <form
    [formGroup]="form"
    (submit)="$event.preventDefault(); login();">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <div class="app-user-auth-form-wrapper__errors" [ngSwitch]="error" *ngIf="error">
      <mat-error *ngSwitchCase="'UNAUTHORIZED_ERROR'">Auth failed</mat-error>
      <mat-error *ngSwitchCase="'USER_NOT_FOUND_ERROR'">User not found</mat-error>
      <mat-error *ngSwitchCase="'WRONG_PASSWORD_ERROR'">Wrong password</mat-error>
    </div>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="form.status === 'INVALID'">
      Login
    </button>
  </form>
</app-user-auth-form-wrapper>
