<div class="app-home">
  <mat-card>
    <h1 class="mat-h1">
      MEAN-Starter
    </h1>

    <p class="mat-body">
      Стартер для mean-проектов на TypeScript.
    </p>

    <h2 class="mat-h2">
      Stack
    </h2>
    <h3 class="mat-h3">
      Frontend
    </h3>
    <ul>
      <li>
        TypeScript
      </li>
      <li>
        Angular 7
      </li>
      <li>
        Angular Material
      </li>
    </ul>

    <h3 class="mat-h3">
      Backend
    </h3>
    <ul>
      <li>
        TypeScript
      </li>
      <li>
        Node
      </li>
      <li>
        Express
      </li>
      <li>
        MongoDb
      </li>
      <li>
        Mongoose
      </li>
      <li>
        Passport
      </li>
    </ul>

    <h2 class="mat-h2">
      Реализовано
    </h2>
    <ul>
      <li>
        REST API. Быстрое добавление новых эндпойнтов на основе базовых классов
      </li>
      <li>
        Регистрация и авторизация. Passport, JWT
      </li>
      <li>
        Валидация с Joi
      </li>
      <li>
        Response service
      </li>
      <li>
        Базовая архитектура фронтенда, модуль авторизации
      </li>
    </ul>

    <h2 class="mat-h2">
      ToDo
    </h2>
    <ul>
      <li>
        SSR
      </li>
      <li>
        Actions pattern
      </li>
      <li>
        Tests
      </li>
    </ul>

  </mat-card>
</div>
